<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Sender name:</strong>
    <%= @message.sender_name %>
  </p>

  <p>
    <strong>Sender email:</strong>
    <%= @message.sender_email %>
  </p>

  <p>
    <strong>Receiver email:</strong>
    <%= @message.receiver_email %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= @message.subject %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @message.body %>
  </p>

  <%= link_to 'Edit', edit_message_path(@message) %> |
  <%= link_to 'Back', messages_path %>

</div>
