<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Your name:</strong>
    <%= @message.sender_name %>
  </p>

  <p>
    <strong>Your email:</strong>
    <%= @message.sender_email %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= @message.subject %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @message.body %>
  </p>

  <%= link_to 'Edit', edit_user_holder_message_path(@user_holder, @message) %>

</div>
