<div class = "search_table">
<p id="notice"><%= notice %></p>
<div>
<h1 style="text-align: center">Available Meetings</h1>
<br>
</div>

<br>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= link_to "Available #{meeting.start_time.strftime("%l:%M%P")}-#{meeting.end_time.strftime("%l:%M%P")}", user_holder_meeting_path(meeting.user_holder_id, meeting.id)  %>
    </div>
  <% end %>
<% end %>

<%= link_to 'New Meeting', new_user_holder_meeting_path(current_user) %>
