<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>


<%= link_to 'Edit', edit_user_holder_meeting_path(@meeting) %> |
<%= link_to 'Cancle', user_holder_meeting_path(@meeting.user_holder_id, @meeting.id), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', user_holder_meetings_path %>
