<h1 style="text-align: center">Activity on <%= @name %>'s Account</h1>
<div class="container" style="max-width: 100%; overflow-x: auto;">
  <br>
  <table class = "table table-striped col-md-12">
    <thead>
      <tr>
        <th>Category</th>
        <th>Action</th>
        <th>Field</th>
        <th>Original val</th>
        <th>New val</th>
        <th>By</th>
        <th>Update Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @user_activities.each do |user_activity| %>
        <% activity_fields = user_activity.field.to_s.split(";") %>
        <% is_single_change = activity_fields.length == 1 %>
        <% suffix = activity_fields.length > 3 ? ", etc." : "" %>
        <tr>
          <td><%= user_activity.category %></td>
          <td><%= user_activity.action %></td>
          <td><%= is_single_change ? activity_fields[0] : "Multiple details (#{activity_fields.take(3).join(", ")}#{suffix}) have been changed." %></td>
          <td><%= is_single_change ? user_activity.original_val.to_s.chomp(";") : "See details page for more info." %></td>
          <td><%= is_single_change ? user_activity.new_val.to_s.chomp(";") : "See details page for more info." %></td>
          <td><%= user_activity.actor %></td>
          <td><%= user_activity.created_at %></td>
          <td><%= link_to 'Details', user_holder_user_activity_path(@user_holder, user_activity) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if is_doctor? %>
  <%= link_to "Return to profile", patient_path(@user_holder.profile), class: 'btn btn-primary' %>
<% else %>
  <%= link_to "Return to profile", patient_profile_path, class: 'btn btn-primary' %>
<% end %>
