<div class="container">
  <div class = "search_table">
  <p id="notice"><%= notice %></p>
  <div>
  <h1 style="text-align: center">User Activities</h1>
  <br>
  </div>
  <table class = "table table-striped col-md-12">
    <thead>
      <tr>
        <th>Category</th>
        <th>Action</th>
        <th>Field</th>
        <th>Original val</th>
        <th>New val</th>
        <th>By</th>
        <th>Update Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @user_activities.each do |user_activity| %>
        <tr>
          <td><%= user_activity.category %></td>
          <td><%= user_activity.action %></td>
          <td><%= user_activity.field %></td>
          <td><%= user_activity.original_val %></td>
          <td><%= user_activity.new_val %></td>
          <td><%= user_activity.actor %></td>
          <td><%= user_activity.created_at %></td>
          <td><%= link_to 'Details', user_holder_user_activity_path(@user_holder, user_activity) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>




</div>
