<p id="notice"><%= notice %></p>

<p>
  <strong>Actor:</strong>
  <%= @user_activity.actor %>
</p>

<p>
  <strong>Action:</strong>
  <%= @user_activity.action %>
</p>

<p>
  <strong>Category:</strong>
  <%= @user_activity.category %>
</p>

<p>
  <strong>Original val:</strong>
  <%= @user_activity.original_val %>
</p>

<p>
  <strong>New val:</strong>
  <%= @user_activity.new_val %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_activity.description %>
</p>

<p>
  <strong>User holder:</strong>
  <%= @user_activity.user_holder %>
</p>

<%= link_to 'Back', user_holder_user_activities_path(@user_holder) %>
