<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><%= params[:patient_name]%> </h3>
        </div>

        <ul class="list-unstyled components">
            <p>Patient's Info</p>
            <li><%= link_to "Profile", patient_path()%></a></li>
            <li><%= link_to "Documents", user_holder_documentations_path(params[:patient_id])%></a></li>
            <li><%= link_to "Medications", user_holder_medications_path(params[:patient_id])%></a></li>
            <li><%= link_to "Treatments", user_holder_treatments_path(params[:patient_id])%></a></li>
        </ul>
    </nav>

</div>