<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New Document", new_documentation_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Document Type</th>
         <th>Download Link</th>
         <th>Delete Option </th>
      </tr>
   </thead>
   
   <tbody>
      <% @documentations.each do |documentation| %>
         
         <tr>
            <td><%= documentation.patient %></td>
            <td><%= documentation.doctype %></td>
            <td><%= link_to "Download Document", documentations_download_pdf_path(id: documentation.id) %></td>
            <%# Might need to be able to add documentation object inside the link_to method call // :id => documentation.id %>
            <td><%= button_to "Delete",  documentation, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{documentation.patient}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>