<% if !@documentation.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @documentation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @documentation, html: { multipart: true } do |f| %>
      <%= f.label :patient %>
      <%= f.text_field :patient %>
      <%= f.label :doctype %>
      <%= f.text_field :doctype %>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>