<% if !@documentation.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @documentation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>
<%= link_to 'Back', 'javascript:history.go(-1);', class: "btn btn-primary" %>
<div class = "well">
   <%= form_with(model: [@user_holder, @documentation], local: true) do |form| %>
      <% if @documentation.errors.any? %>
         <div id="error_explanation">
            <h2><%= pluralize(documentation.errors.count, "error") %> prohibited this document from being saved:</h2>
            <ul>
            <% documentation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
            </ul>
         </div>
      <% end %>
      <%= form.hidden_field :uploaded_by, value: @user_holder.first_name %> 
      <div class="field">
         <%= form.label :patient %>
         <%= form.text_field :patient %>
      </div>

      <div class="field">
         <%= form.label :doctype %>
         <%= form.text_field :doctype %>
      </div>

      <div class="field">
         <%= form.label :satisfied %>
         <%= form.select :satisfied, [["Not Satisfied", false], ["Satisfied", true]], :required => true %>
      </div>

       <div class="field">
         <%= form.label :reasoning %>
         <%= form.text_field :reasoning %>
      </div>

      <div class="field">
         <%= form.label "Document Name" %>
         <%= form.text_field :documents_name %>
      </div>

      <div class="field">
         <%= form.label :attachment %>
         <%= form.file_field :attachment %>
      </div>

      <div class="actions">
         <%= form.submit %>
      </div>
   <% end %>
</div>