<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<h1 style="text-align: center">Documents</h1>
<br>

<%= link_to "New Document", new_user_holder_documentation_path(@user_holder), class: "btn btn-primary" %>
<br>

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <!--<th style="width: 16.66%">Name</th> -->
         <th style="width: 20%">Document Type</th>
         <th style="width: 20%">        </th>
         <th style="width: 20%">Download Link</th>
         <th style="width: 20%">Status</th>
         <th style="width: 20%">Delete Option </th>
      </tr>
   </thead>

   <tbody>
      <% @documentations.each do |documentation| %>

         <tr>
            <!--<td style="width: 16.66%"><%= documentation.patient %></td> -->
            <td style="width: 20%"><%= documentation.doctype %></td>
            <td style="width: 20%"><button class="col-md-1.5 btn btn-success"><%= link_to "Update",  edit_user_holder_documentation_path(@user_holder, documentation) %></button></td>
            <td style="width: 20%"><button class="col-md-1.5 btn btn-success"><%= link_to "Download Document", documentations_download_pdf_path(id: documentation.id) %></button></td>

            <td style="width: 20%"><%= documentation.status ? "Satisfied" : "Not Satisfied" %></td>
            <%# Might need to be able to add documentation object inside the link_to method call // :id => documentation.id %>
            <td style="width: 20%"><button class="col-md-1.5 btn btn-success"><%= link_to "Destroy", [@user_holder, documentation], method: :delete%></button></td>
         </tr>

      <% end %>
   </tbody>

</table>
