<head>
  <script src="https://kit.fontawesome.com/963e6d96ae.js" crossorigin="anonymous"></script>
</head>

<h1 style="text-align: center">Search For Patient</h1>
<br>

  <div class="container">
    <%= form_tag searchPatients_path, :method => 'post' do %>
      <div class="form-group row">
        <label for="search_first_name" class="col-form-label">First Name: </label>
        <input type="text" name="search_first_name" autocomplete="off" class="search_box form-control col-md-1"/>
        <label for="search_last_name" class="col-form-label"> Last Name: </label>
        <input type="text" name="search_last_name" autocomplete="off" class="search_box form-control col-md-1"/>
        <label for="search_id" class="col-form-label"> Patient ID: </label>
        <input type="text" name="search_id" autocomplete="off" class="search_box form-control col-md-1"/>
        <input type="submit" id="search_submit" value="Search Patients" class="btn btn-primary"/>
      </div>

    <% end %>
  </div>
  <br>
<div id = "search_table">
<table class = "table table-striped col-md-12">
  <thead>
    <tr>
      <th class=<%=@first_name_class%>> <%= link_to "First Name", searchPatients_path(:sort => "first_name"), id: "first_name_sort"%></th>
      <th class=<%=@last_name_class%>> <%= link_to "Last Name", searchPatients_path(:sort => "last_name"), id: "last_name_sort" %> </th>
      <th> Email </th>
      <th> WhatsApp </th>
      <th class=<%=@user_id_class%>> <%= link_to "Parent Id", searchPatients_path(:sort => "user_holder_id"), id: "parent_id_sort" %></th>

      <th> Link to Info </th>
    </tr>
  </thead>
  <tbody>
      <%@patients.each do |p| %>
        <tr>
          <td><%= p.first_name %></td>
          <td><%= p.last_name %></td>
          <td><%= p.email %></td>
          <td><%= if p.whatsapp then link_to '<i class="fab fa-whatsapp"></i>'.html_safe, "https://wa.me/1"+p.whatsapp, target: :_blank else '<i class="fab fa-whatsapp"></i>'.html_safe end%></td>
          <td><%= hashForUserHolder(p) %></td>
          <td> <%= link_to profile_name_format(p.first_name, p.last_name), patient_path(p), id: (p.user_holder_id.to_s + '_profile'), class: 'btn btn-primary col-md-12', style: "color: white"%></td>
        </tr>
      <%end%>
    </tbody>
</table>
</div>
