<head>
  <script src="https://kit.fontawesome.com/963e6d96ae.js" crossorigin="anonymous"></script>
</head>
<div class="container">
  <%= form_tag searchPatients_path, :method => 'post' do %>
    <div class="form-group row">
      <label for="search_first_name" class="col-form-label">Fisrt Name: </label>
      <input type="text" name="search_first_name" autocomplete="off" class="search_box form-control col-md-1"/>
      <label for="search_last_name" class="col-form-label"> Last Name: </label>
      <input type="text" name="search_last_name" autocomplete="off" class="search_box form-control col-md-1"/>
      <label for="search_id" class="col-form-label"> Patient ID: </label>
      <input type="text" name="search_id" autocomplete="off" class="search_box form-control col-md-1"/>
      <input type="submit" value="search patients" class="btn btn-success"/>
    </div>

  <% end %>
</div>
<div class = "search_table">
<table class = "table table-striped col-md-12">
  <thead>
    <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> email </th>
      <th> Whatsapp </th>
      <th> patient_id </th>
      <th> Link to Profile</th>
    </tr>
  </thead>
  <tbody>
      <%@patients.each do |p| %>
        <tr>
          <td><%= p.first_name %></td>
          <td><%= p.last_name %></td>
          <td><%= p.email %></td>
          <td><%= if p.whatsapp then link_to '<i class="fab fa-whatsapp"></i>'.html_safe, "https://wa.me/1"+p.whatsapp, target: :_blank else '<i class="fab fa-whatsapp"></i>'.html_safe end%></td>
          <td><%= p.user_holder_id %></td>
          <td> <%= link_to  profile_name_format(p.first_name, p.last_name), patient_profile_path(:search_id => p.user_holder_id), class: 'btn btn-primary col-md-12', style: "color: white"%></td>
        </tr>
      <%end%>
    </tbody>
</table>
</div>
