<div class="container">
  <%= form_tag searchPatients_path, :method => 'post' do %>
    <div class="form-group row">
      <label for="searchPatients" class="col-md-3 col-form-label">Enter Patients'name:</label>
      <input type="text" name="searchPatients" autocomplete="off"
             class="form-control col-md-4"/>
      <input type="submit" value="search patients" class="col-md-1.5 btn btn-success"/>
    </div>
    
  <% end %>
</div>

<table class = "table table-striped col-md-12">
  <thead>
    <tr> 
      <th> First Name </th>
      <th> Last Name </th>
      <th> email </th>
      <th> holder_id </th>
    </tr>
  </thead>
  <tbody>
      <%@patients.each do |p| %>
        <tr>
          <td><%= p.first_name %></td>
          <td><%= p.last_name %></td>
          <td><%= p.email %></td>
          <td><%= p.user_holder_id %></td>
        </tr>
      <%end%>  
    </tbody>
</table>      

