<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong> <%= @medication.name %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @medication.provider %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @medication.directions %>
</p>

<p>
  <strong>Days:</strong>
  <%= @medication.days %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medication.description %>
</p>

<p>
  <strong>User holder:</strong>
  <%= @medication.user_holder %>
</p>


<% if can? :update, @medication %><%= link_to 'Edit', edit_user_holder_medication_path(@user_holder, @medication) %> | <% end %>
<%= link_to 'Back', user_holder_medications_path(@user_holder) %>
