<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CbvXStem</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about-me">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if current_user.role == 'guest' %>
            <li><%= (link_to raw("<span class=\"glyphicon glyphicon-user nav-icon\" aria-hidden=\"true\"></span> Register"), new_user_registration_path, class: 'btn btn-primary') %></li>
            <li><%= (link_to raw("<span class=\"glyphicon glyphicon-log-in nav-icon\" aria-hidden=\"true\"></span> Login"), new_user_session_path, class: 'btn btn-primary') %></li>
            <% else %>
                <li><a data-toggle="collapse" id = "menu" href="#patient_nav" class="btn btn-primary">Patient</a></li>
            <% end %>
        </ul>
    </div>
</nav>
<% if !(current_user.role == 'guest') %>
<div id="patient_nav" class="collapse">
    <div class="row col-container" style="margin-left: auto; margin-right: auto;">
        <div class="col col-6">
            <div class="nav-section">
                <b>Current User:</b> <%= current_user.role != 'guest' && (current_user.first_name + " " + current_user.last_name) %>
                <ul>
                  <li><b>Health plan:</b> <%=  @current_profile.nil? ? "None" : @current_profile.health_plan %></li>
                  <li><b>Weight:</b> <%=  @current_profile.nil? ? "None" : @current_profile.weight %></li>
                  <li><b>Height:</b> <%=  @current_profile.nil? ? "None" : @current_profile.height %></li>
                  <li><b>You have <span class="notification-font"><%=  0 %> </span> pending messages. </b> </li>
                  <li><b>You have <span class="notification-font"><%=  Meeting.where(status: "confirmed").where(patient_id: current_user.id).length %> </span> upcoming appointments. </b> </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="nav-section">
                <div><%= link_to "Profile", patient_profile_path(@user_holder) %></div>
                <div><%= link_to 'Medical Record', user_holder_treatments_path(@user_holder) %></div>
                <div><%= link_to 'Make Appointment', show_doctor_schedule_path(@user_holder) %></div>
            </div>
        </div>
        <div class="col">
            <div class="nav-section">
                <div><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
                <div><%= link_to "User Setting", patient_setting_path, class: 'right-pivotal-link' %></div>
                <div><%= link_to 'Activity Log', user_holder_user_activities_path(@user_holder) %></div>
                <div><%= link_to "Message Box", user_holder_messages_path(@user_holder) %></div>
            </div>
        </div>
    </div>
</div>
<% end %>
