<div class="blog-masthead">
  <div class="container">
        <div class="collapse jumbotron jumbotron-fluid" id="nav-pivotal-printboard">
            <div class="nav-pivotal-interface">
              <span class="left-pivotal">
                <div class="left-pivotal-font"> Current User: </div>
                <div class="left-pivotal-font"> <%= current_user.role != 'guest' && (current_user.first_name + " " + current_user.last_name) %> </div>
              </span>
              <span class="mid-pivotal1" id="mid-p1">
                <div class="mid-pivotal-font"> Patient Info: </div>
                <ul>
                  <li class="mid-pivotal-font2"=><b>Health plan:</b> <%=  @current_profile.nil? ? "None" : @current_profile.health_plan %></li>
                  <li class="mid-pivotal-font2"=><b>Weight:</b> <%=  @current_profile.nil? ? "None" : @current_profile.weight %></li>
                  <li class="mid-pivotal-font2"=><b>Height:</b> <%=  @current_profile.nil? ? "None" : @current_profile.height %></li>
                  <li class="mid-pivotal-font2"=><b>You have <span id="notification-font"><%=  0 %> </span> pending message. </b> </li>
                  <li class="mid-pivotal-font2"=><b>You have <span id="notification-font"><%=  0 %> </span> coming appointment. </b> </li>
                </ul>
              </span>
              <span class="right-function-pivotal">
                  <div><%= link_to "Profile", patient_profile_path, class: 'right-pivotal-link' %></div>
                  <div><%= link_to "Documents", documentations_path, class: 'right-pivotal-link' %></div>
                  <div><%= link_to 'Treatments', user_holder_treatments_path(@user_holder), class: 'right-pivotal-link' %></div>
                  <div><%= link_to 'Medications', user_holder_medications_path(@user_holder), class: 'right-pivotal-link' %></div>
                  <div><%= link_to 'Make Appointment', user_holder_appointments_path(@user_holder), class: 'right-pivotal-link' %></div>
                  <div><%= link_to 'Make Appointment', show_doctor_schedule_path(@user_holder), class: 'right-pivotal-link' %></div>
              </span>
              <span class="right-setting-pivotal">
                  <div><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'right-pivotal-link' %></div>
                  <div><%= link_to "User Setting", patient_setting_path, class: 'right-pivotal-link' %></div>
                  <div class='need-work'> Notification </div>
                  <div><%= link_to 'User Activities', user_holder_user_activities_path(@user_holder) %></div>
                  <div><%= link_to "Message Box", messages_path, class: 'right-pivotal-link' %></div>
              </span>
            </div>
        </div>
        <div class="nav-grid">
          <div class="nav-left">
            <%= nav_helper 'nav-link', 'nav-general-link' %>
          </div>
          <div class="nav-right">
              <%= user_login_logout %>
          </div>
        </div>
  </div>
</div>
