<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">

        <div class="collapse jumbotron jumbotron-fluid nav-povtal-interface" id="navbarToggleExternalContent">
            <span class="left-pivotal">
              <p class="left-pivotal-font"> Current User: </p>
              <p class="left-pivotal-font"> <%= current_user && (current_user.first_name + " " + current_user.last_name) %> </p>
            </span>
            <span class="right-pivotal">
                <div><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'right-pivotal-link' %></div>
                <div><%= link_to "Profile", patient_profile_path, class: 'right-pivotal-link' %></div>
                <div><%= link_to "Documents", patient_profile_path, class: 'right-pivotal-link' %></div>
                <div><%= link_to "Treatments", patient_profile_path, class: 'right-pivotal-link' %></div>
            </span>
        </div>
        <br>
        <p class="login">
          <%= user_login_logout %>
        </p>
        <%= nav_helper 'nav-link', 'nav-general-link' %>

    </nav>
  </div>
</div>
