<h2>Edit Profile</h2>

<%= form_for(@profile_to_edit, url: patient_update_profile_path(@profile_to_edit)) do |f| %>
  First name: <%= f.text_field :first_name %><br />
  Last name: <%= f.text_field :last_name %><br />
  Email: <%= f.text_area :email %><br />
  Address Line 1: <%= f.text_area :address_line1 %><br />
  Address Line 2: <%= f.text_area :address_line2 %><br />
  City: <%= f.text_area :city %><br />
  State: <%= f.text_area :state %><br />
  Country: <%= f.text_area :country %><br />
  Postal Code: <%= f.text_area :postal_code %><br />
  Phone: <%= f.text_area :phone %><br />
  Reached Through: <%= f.text_area :reached_through %><br />
  <%= f.submit %>
<% end %>
