<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CBV X Stem</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Work+Sans:400,700&display=swap" rel="stylesheet">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  </head>

  <body>
    <%= if !current_user.is_doctor then render 'shared/application_nav' else render 'shared/doctor_nav' end %>
    <!-- <p class="notice"><%= notice %></p> -->
    <% if not flash[:notice].nil? %>
        <div class="alert alert-primary" role="alert"> <%= if flash[:notice].is_a?(Array) then flash[:notice].join("<br>").html_safe else flash[:notice] end%></div>
    <% end %>
    <!-- <p class="alert"><%= alert %></p> -->
    <% if not flash[:alert].nil? %>
        <div class="alert alert-secondary" role="alert"><%= flash[:alert] %></div>
    <% end %>
    <% if not flash[:error].nil? %>
        <div class="alert alert-danger" role="alert"> <%= flash[:error] %></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
