<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cbvxstem</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= if !current_user.is_doctor then render 'shared/application_nav' else render 'shared/doctor_nav' end %>
    <!-- <p class="notice"><%= notice %></p> -->
    <% if not flash[:notice].nil? %>
        <div class="alert alert-primary" role="alert"> <%= flash[:notice] %></div>
    <% end %>
    <!-- <p class="alert"><%= alert %></p> -->
    <% if not flash[:alert].nil? %>
        <div class="alert alert-secondary" role="alert"><%= flash[:alert] %></div>
    <% end %>
    <% if not flash[:error].nil? %>
        <div class="alert alert-danger" role="alert"> <%= flash[:error] %></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
